name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Quality checks
        run: ./gradlew test detekt ktlintCheck forbiddenApisMain dependencyCheckAnalyze verifyPlugin --no-daemon
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
