name: Qodana
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    env:
      QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
      QODANA_ENDPOINT: "https://qodana.cloud"
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Qodana skipped
        if: ${{ env.QODANA_TOKEN == '' }}
        run: echo "QODANA_TOKEN is not set; skipping Qodana scan."
      - name: Qodana Scan
        if: ${{ env.QODANA_TOKEN != '' }}
        uses: JetBrains/qodana-action@v2025.2
        with:
          pr-mode: false
